#movies {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}
#movies img{
    width: 300px;
    cursor: pointer;
    border: 3px solid white;
    border-radius: 5px;
}
#movies img:hover{
    border: 3px solid #f4ff07;
}
/*when user select a movie to see its details*/
.movie-selected{
    border: 3px solid #f4ff07 !important;
}

#movie-detail{
    display: none;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
}
#movie-detail h3{
    border-bottom: 2px solid #c1c1c1;
}

