#movies {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

#movies img{
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}

#movies img:hover{
    filter: brightness(50%);
}

.dp-btn:hover {
    filter: brightness(50%) !important;
    cursor: pointer;
}

#movies .card{
    width: 30%;
    min-width: 200px;
    margin: 5px;
}

#movies .card p{
    line-height: 1.5em;
}


.movie-hidden{
    display: none;
}

#movie-detail{
    display: none;
    line-height: 1.5em;
}

#search-button{
    cursor: pointer;
}

#search-box {
    background-color: #eeeeee;
}

p {
    margin-bottom: 5px !important;
}

.dp-navbar {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    width: 100vw;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.dp-btn {
    width: 150px;
    height: 40px;
    margin: auto 5px;
    text-align: center;
    padding: 13px 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.dp-brand-name {
    font-size: 28px;
    grid-column: 2 / 3;
    color: #eeeeee;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

#buttons-div {
    grid-column: 3 / 4;
    display: flex;
    align-content: center;
    justify-content: flex-end;
}